@page
<div class="container" style="justify-content:center;display:flex;flex-direction:column;align-content:center;max-width:100vw;height:100vh;overflow:hidden;">
    <div class="row" style="overflow:auto;height:50vh;">
        <div class="col-12">
            <ul id="messagesList"></ul>
        </div>
    </div>


    <div class="row p-1">
        <div class="col-2" style="font-weight:bold;" id="labelNome">NOME</div>
    </div>
    <div class="row p-1">
        <div class="col-12"><input class="w-30" type="text" id="userInput" style="border-radius:5px;" /></div>
    </div>
    <div class="row p-1">
        <div class="col-2" style="font-weight:bold;">MENSAGEM</div>
    </div>
    <div class="row p-1">
        <div class="col-7"><input type="textarea" class="w-100" id="messageInput" style="border-radius:5px;height:100px;" /></div>

        <div class="col-4"><input type="file" id="fileSend" name="myfile" multiple="false"></div>

        <div class="col-1 text-end">
            <input type="button" id="sendButton" value="ENVIAR" style="font-weight:bold; background-color:darkgreen;border: 1px solid darkgreen; border-radius:5px; font-size:15px; color:white;height:100px;width:100px;" />
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - SimãoChat
        </div>
    </footer>
</div>



<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>